<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>Manage Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->

    <!-- Script for Rollbar (Captures JS exceptions) -->
    <script>
        var _rollbarConfig = {
            accessToken: "91a2c9cd50784fb88107e52b567f71e3",
            captureUncaught: true,
            payload: {
                environment: "test"
            }
        };
        !function(r){function o(e){if(t[e])return t[e].exports;var n=t[e]={exports:{},id:e,loaded:!1};return r[e].call(n.exports,n,n.exports,o),n.loaded=!0,n.exports}var t={};return o.m=r,o.c=t,o.p="",o(0)}([function(r,o,t){"use strict";var e=t(1).Rollbar,n=t(2);_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"//d37gvrvc0wt4s1.cloudfront.net/js/v1.8/rollbar.min.js";var a=e.init(window,_rollbarConfig),i=n(a,_rollbarConfig);a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,i)},function(r,o){"use strict";function t(r){return function(){try{return r.apply(this,arguments)}catch(o){try{console.error("[Rollbar]: Internal error",o)}catch(t){}}}}function e(r,o,t){window._rollbarWrappedError&&(t[4]||(t[4]=window._rollbarWrappedError),t[5]||(t[5]=window._rollbarWrappedError._rollbarContext),window._rollbarWrappedError=null),r.uncaughtError.apply(r,t),o&&o.apply(window,t)}function n(r){var o=function(){var o=Array.prototype.slice.call(arguments,0);e(r,r._rollbarOldOnError,o)};return o.belongsToShim=!0,o}function a(r){this.shimId=++s,this.notifier=null,this.parentShim=r,this._rollbarOldOnError=null}function i(r){var o=a;return t(function(){if(this.notifier)return this.notifier[r].apply(this.notifier,arguments);var t=this,e="scope"===r;e&&(t=new o(this));var n=Array.prototype.slice.call(arguments,0),a={shim:t,method:r,args:n,ts:new Date};return window._rollbarShimQueue.push(a),e?t:void 0})}function l(r,o){if(o.hasOwnProperty&&o.hasOwnProperty("addEventListener")){var t=o.addEventListener;o.addEventListener=function(o,e,n){t.call(this,o,r.wrap(e),n)};var e=o.removeEventListener;o.removeEventListener=function(r,o,t){e.call(this,r,o&&o._wrapped?o._wrapped:o,t)}}}var s=0;a.init=function(r,o){var e=o.globalAlias||"Rollbar";if("object"==typeof r[e])return r[e];r._rollbarShimQueue=[],r._rollbarWrappedError=null,o=o||{};var i=new a;return t(function(){if(i.configure(o),o.captureUncaught){i._rollbarOldOnError=r.onerror,r.onerror=n(i);var t,a,s="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(t=0;t<s.length;++t)a=s[t],r[a]&&r[a].prototype&&l(i,r[a].prototype)}return r[e]=i,i})()},a.prototype.loadFull=function(r,o,e,n,a){var i=function(){var o;if(void 0===r._rollbarPayloadQueue){var t,e,n,i;for(o=new Error("rollbar.js did not load");t=r._rollbarShimQueue.shift();)for(n=t.args,i=0;i<n.length;++i)if(e=n[i],"function"==typeof e){e(o);break}}"function"==typeof a&&a(o)},l=!1,s=o.createElement("script"),u=o.getElementsByTagName("script")[0],p=u.parentNode;s.crossOrigin="",s.src=n.rollbarJsUrl,s.async=!e,s.onload=s.onreadystatechange=t(function(){if(!(l||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){s.onload=s.onreadystatechange=null;try{p.removeChild(s)}catch(r){}l=!0,i()}}),p.insertBefore(s,u)},a.prototype.wrap=function(r,o){try{var t;if(t="function"==typeof o?o:function(){return o||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._wrapped){r._wrapped=function(){try{return r.apply(this,arguments)}catch(o){throw o._rollbarContext=t()||{},o._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=o,o}},r._wrapped._isWrap=!0;for(var e in r)r.hasOwnProperty(e)&&(r._wrapped[e]=r[e])}return r._wrapped}catch(n){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),p=0;p<u.length;++p)a.prototype[u[p]]=i(u[p]);r.exports={Rollbar:a,_rollbarWindowOnError:e}},function(r,o){"use strict";r.exports=function(r,o){return function(t){if(!t&&!window._rollbarInitialized){var e=window.RollbarNotifier,n=o||{},a=n.globalAlias||"Rollbar",i=window.Rollbar.init(n,r);i._processShimQueue(window._rollbarShimQueue||[]),window[a]=i,window._rollbarInitialized=!0,e.processPayloads()}}}}]);
    </script>

    <!-- Scripts for Logentries -->
    <script src="frontend/js/le.min.js"></script>
    <script>
        // Set up le.js
        LE.init({token: '02da12dd-d09a-4c93-86da-ec1deb507831', page_info: 'per-entry'})
    </script>
</head>
<script  src="http://code.jquery.com/jquery-1.9.1.min.js" ></script>   
<script type="text/javascript">

    $(function (){
        $('button').on('click', function(event) {

            // if(event.currentTarget.name=="send") {
            //     alert(document.getElementById("message").value);

            //     $.post('/email_employee', { // use the route here
            //         email: localStorage.getItem("employee_email"),
            //         message: message
            //     }, function (message, status){

            //     });

            // }


            if(event.currentTarget.name=="email") {        
                localStorage.setItem("employee_email", event.currentTarget.id);
                document.getElementById("to").placeholder =localStorage.getItem("employee_email");
            }
            
        });
    });


</script>


<body>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="dashboard_admin">Overview</a></li>
            <li class="active">Manage Employees</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <!-- START MANAGE EMPLOYEES DATATABLE -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Manage Employees</h3>
                            <ul class="panel-controls">
                                <li>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#addEmployeeCSV"> Import Data</button>
                                </li>
                                <li>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#addEmployee">Add Employee</button>
                                </li>
                            </ul>
                            <div class="btn-group pull-right">
                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24" /> JSON</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24" /> JSON (ignoreColumn)</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24" /> JSON (with Escape)</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24" /> XML</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24" /> SQL</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="40" /> CSV</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="40" /> TXT</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24" /> PNG</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24" /> PDF</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table id="employeesList" class="table datatable">
                                <thead>
                                <tr>
                                    <th id="nameHead">Name</th>
                                    <th id="numberHead">Number</th>
                                    <th id="emailHead">Email</th>
                                    <th id="delete">Delete</th>
                                    <th id="action">Action</th>
                                </tr>
                                </thead>
                                {{#employees}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{phone_number}}</td>
                                        <td>{{email}}</td>
                                        <td>
                                        <form method="POST"  action="/delete/{{_id}}?_method=DELETE">
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                        </td>
                                        <td>
                                            <button class="btn btn-info" name="email" id= "{{email}} "
                                                data-toggle="modal" data-target="#emailEmployee">Email</button>
                                        </td>
                                    </tr>
                                {{/employees}}
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END MANAGE EMPLOYEES DATATABLE -->
                </div>
            </div>
        </div>
        <!-- END CONTENT WRAPPER -->

<!-- START ADD MODAL-->
<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">ADD EMPLOYEE</h2>
            </div>
            <div class="modal-body">
                <form method="POST" name="modalForm" class="form-horizontal ws-validate" id="addEmployeeForm">
                    <div class="form-group">
                        <label for="modalName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input name="name" type="text" class="form-control" id="modalName" placeholder="Jane Doe" required>
                            <p class="help-block" id="invalidName">Please enter first and last name. Ex: First Last</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modalNumber" class="col-sm-2 control-label">Number</label>
                        <div class="col-sm-10">
                            <input type="tel" name="number" class="form-control" id="modalNumber" required>
                            <p class="help-block" id="invalidNumber">Please enter a valid phone number Ex: 1234567890</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="modalEmail">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" id="modalEmail" placeholder="jane.doe@example.com" required>
                            <p class="help-block" id="invalidEmail">Please enter a valid email Ex: email@address.com</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" id="okbutton" disabled>OK</button>
                            <button class="btn btn-default" data-dismiss="modal" id="cancelbutton">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END ADD MODAL-->

<!-- START IMPORT MODAL-->
<div class="modal fade" id="addEmployeeCSV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">ADD EMPLOYEES</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="/add_EmployeesCSV" name="modalCSVInput" class="form-horizontal ws-validate" enctype="multipart/form-data" id="addEmployeeCSVForm">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p>Upload a CSV file containing your employees.</p>
                            <p class="help-block">Each line should formatted:<br>name, phone number, email</p>
                            <input type="file" name="file" class="form-control" accept="application/csv" id="modalFile" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" id="okbuttonCSV" >OK</button>
                            <button class="btn btn-default" data-dismiss="modal" id="cancelbuttonCSV">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END IMPORT MODAL-->


<!-- START EMAIL MODAL -->
<div class="modal fade" id="emailEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">EMAIL EMPLOYEE</h2>
            </div>
            <div class="modal-body">
                <form name="modalForm" method="POST" action="/email_employee" class="form-horizontal ws-validate" id="emailEmployeeForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>To: </strong>
                            <input type="email" name="to" class="form-control" id="to">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-8">
                            <textarea type="text" name="subject" id="subject" rows="1" placeholder="Receptional" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Body</label>
                        <div class="col-sm-8">
                            <textarea type="text" name="message" id="message" rows="7" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-info" name="send">Send Message</button>
                            <button class="btn btn-default" data-dismiss="modal" id="cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END EMAIL MODULE -->



<!-- SIGN OUT MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SIGN OUT MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type="text/javascript" src="js/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/tableExport.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jquery.base64.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/html2canvas.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/jspdf.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/libs/base64.js"></script>
<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>
<!-- END TEMPLATE -->

<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/bootstrap-sortable.js"></script>

<!-- START ADD EMPLOYEE  SCRIPT -->
<script type="text/javascript">
    $(function () {
        // Reset form when form is hidden
        $('.modal').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });
        // Require fields to be filled out
        $('input[name=name]').on('input', function () {
            if ($('#modalName').val() && $('#modalNumber').val() && $('#modalEmail').val())
                $('#okbutton').prop('disabled', false);
            else
                $('#okbutton').prop('disabled', true);
        });
        $('input[name=number]').on('input', function () {
            if ($('#modalName').val() && $('#modalNumber').val() && $('#modalEmail').val())
                $('#okbutton').prop('disabled', false);
            else
                $('#okbutton').prop('disabled', true);
        });
        $('input[name=email]').on('input', function () {
            if ($('#modalName').val() && $('#modalNumber').val() && $('#modalEmail').val())
                $('#okbutton').prop('disabled', false);
            else
                $('#okbutton').prop('disabled', true);
        });
        $('input[name=file]').on('input', function () {
            if ($('#modalFile').val())
                $('#okbuttonCSV').prop('disabled', false);
            else
                $('#okbuttonCSV').prop('disabled', true);
        });

    }	);
</script>
<!-- END ADD EMPLOYEE SCRIPT -->
<!-- END SCRIPTS -->
</body>
</html>