<!DOCTYPE html>
<html>
<head>
    <title>Patient Queue</title>

</head>

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Patient Queue</li>
        </ul>
        <!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START MANAGE EMPLOYEES DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Patient Queue</h3>
                    <ul class="panel-controls">
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table datatable sortable">
                        <thead>
                        <tr>
                            <th id="patientName">Name</th>
                            <th id="patientTel">Phone</th>
                            <th id="patientEmail">Email</th>
                            <th id="patientIn">Time in</th>
                            <th id="patientOut">Check Out</th>
                        </tr>
                        </thead>
                        {{#patients}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{phone_number}}</td>
                            <td>{{email}}</td>
                            <td>{{checkinTime}}</td>
                            <td>
                                <form method="POST"  action="/delete/{{_id}}?_method=DELETE">
                                        <button class="btn btn-danger" type="submit">Check Out</button>
                                </form>
                            </td>
                        </tr>
                        {{/patients}}
                        <tbody>
                        </tbody>
                </div>
            </div>
        </div>
    </div>
</div>

</html>